<div class="alert alert-warning" 
  data-ng-show="!txs[0].txid && !loading"
  translate>There are no transactions involving this address.</div>
  <div data-ng-init="tab = 1" class="tab">
    <span data-ng-click="tab = 1" class="transaction_tabs_selected" data-ng-class="{'transaction_tabs_selected': tab === 1 , 'transaction_tabs': tab === 2 }"><label class="tabLabel"> Historys </label></span>
    <span data-ng-click="tab = 2" class="transaction_tabs" data-ng-class="{'transaction_tabs_selected': tab === 2 , 'transaction_tabs': tab === 1 }"><label class="tabLabel"> Details </label></span>
  
    <span class="tx-contents" >
    <div class="block-tx" data-ng-show="txs && txs[0].txid" data-ng-repeat="tx in txs | orderBy: '-time'">
      <div data-ng-show="tab === 1"> <div data-ng-include src="'views/transaction/least-tx.html'"></div></div>
      <div data-ng-show="tab === 2"> <div data-ng-include src="'views/transaction/tx.html'"></div></div>
    </div>
    </span>
  </div>
<div class="progress progress-striped active" data-ng-show="loading">
  <div class="progress-bar progress-bar-info" style="width: 100%">
    <span translate>Loading Transactions...</span>
  </div>
</div>
